<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Search Result</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <div class="column-container search-result-overflow">

            <button class="primary-text white-text btn-primary width-auto margin-top-20 margin-bottom-20 back-btn" onclick="goToDashboard()">Back</button>
        
            <div class="column-container search-result-container main-content">
                <div class="column-container card-container">
                    <div class="row-container space-between">
                        <div class="row-container">
                            <i class="fas fa-circle red-icon tag-size"></i>
                            <p class="primary-small-text black-text">Important</p>
                        </div>
        
                        <div class="menu-container">
                            <i class="fas fa-ellipsis-h ic-menu-size" onclick="toggleMenu('menuDropdown')"></i>
                            <ul class="menu-dropdown" id="menuDropdown">
                                <li><a class="primary-small-text black-text" href="#">Edit</a></li>
                                <li><a class="primary-small-text black-text" href="#">Delete</a></li>
                                <li><a class="primary-small-text black-text" href="#">Share</a></li>
                            </ul>
                        </div>
                    
                    </div>
        
                    <h4 class="primary-text black-text task-title-text">Task Title</h4>
                    <p class="primary-text black-text">Task body, where the description of the task will be written. The task will have colored mark which will represent the priority of the respective task.</p>
        
                    <button type="button" class="primary-small-text start-task-box">Start Task</button>
                </div>

                <div class="column-container card-container">
                    <div class="row-container space-between">
                        <div class="row-container">
                            <i class="fas fa-circle red-icon tag-size"></i>
                            <p class="primary-small-text black-text">Important</p>
                        </div>
        
                        <div class="menu-container">
                            <i class="fas fa-ellipsis-h ic-menu-size" onclick="toggleMenu('menuDropdown')"></i>
                            <ul class="menu-dropdown" id="menuDropdown">
                                <li><a class="primary-small-text black-text" href="#">Edit</a></li>
                                <li><a class="primary-small-text black-text" href="#">Delete</a></li>
                                <li><a class="primary-small-text black-text" href="#">Share</a></li>
                            </ul>
                        </div>
                    
                    </div>
        
                    <h4 class="primary-text black-text task-title-text">Task Title</h4>
                    <p class="primary-text black-text">Task body, where the description of the task will be written. The task will have colored mark which will represent the priority of the respective task.</p>
        
                </div>

                <div class="column-container card-container">
                    <div class="row-container space-between">
                        <div class="row-container">
                            <i class="fas fa-circle red-icon tag-size"></i>
                            <p class="primary-small-text black-text">Important</p>
                        </div>
        
                        <div class="menu-container">
                            <i class="fas fa-ellipsis-h ic-menu-size" onclick="toggleMenu('menuDropdown')"></i>
                            <ul class="menu-dropdown" id="menuDropdown">
                                <li><a class="primary-small-text black-text" href="#">Edit</a></li>
                                <li><a class="primary-small-text black-text" href="#">Delete</a></li>
                                <li><a class="primary-small-text black-text" href="#">Share</a></li>
                            </ul>
                        </div>
                    
                    </div>
        
                    <h4 class="primary-text black-text task-title-text">Task Title</h4>
                    <p class="primary-text black-text">Task body, where the description of the task will be written. The task will have colored mark which will represent the priority of the respective task.</p>
        
                    <button type="button" class="primary-small-text finish-task-box">Finish Task</button>
                </div>

                <div class="column-container card-container">
                    <div class="row-container space-between">
                        <div class="row-container">
                            <i class="fas fa-circle red-icon tag-size"></i>
                            <p class="primary-small-text black-text">Important</p>
                        </div>
        
                        <div class="menu-container">
                            <i class="fas fa-ellipsis-h ic-menu-size" onclick="toggleMenu('menuDropdown')"></i>
                            <ul class="menu-dropdown" id="menuDropdown">
                                <li><a class="primary-small-text black-text" href="#">Edit</a></li>
                                <li><a class="primary-small-text black-text" href="#">Delete</a></li>
                                <li><a class="primary-small-text black-text" href="#">Share</a></li>
                            </ul>
                        </div>
                    
                    </div>
        
                    <h4 class="primary-text black-text task-title-text">Task Title</h4>
                    <p class="primary-text black-text">Task body, where the description of the task will be written. The task will have colored mark which will represent the priority of the respective task.</p>
        
                    <button type="button" class="primary-small-text start-task-box">Start Task</button>
                </div>

            </div>

        </div>


        <script src="/js/script.js"></script>
    </body>
</html>